:root {
  --cor-0: #000;
  --cor-1: #808080;
  --cor-0-2: #0f0f0f;
  --cor-2: #fdfdfd;
  --cor-3: #fff;

  --cor-p1: #1861b6;
  --cor-p2: #4694ee;
}

.cor-4 {
  color: #0c0910;
}

.cor-3 {
  color: #0f0d13;
}

.cor-2 {
  color: var(--cor-2);
}
.cor-0-2 {
  color: var(--cor-0-2);
}
.cor-1 {
  color: #808080;
}

.cor-0 {
  color: #000;
}

.cor-p1 {
  color: #1861b6;
}

.cor-p2 {
  color: #4694ee;
}
