#planos .planos-bg {
  background: linear-gradient(180deg, #22b5f2 0%, #3489ed 100%);
  padding: 80px 0px;
}

#planos .planos h1 {
  margin-top: 0px;
}

#planos .planos-itens > ul {
  gap: 20px;
}

#planos .perguntas-bg {
  background: var(--cor-0-2);
  height: 100%;
  padding-top: 85px;
  padding-bottom: 120px;
}

.perguntas h1 {
  margin-bottom: 40px;
  text-align: center;
}
.perguntas dl {
  margin-bottom: 0px;
  background: var(--cor-3);
  border-radius: 5px;
  padding: 30px;
}
.perguntas dt {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.perguntas dt button {
  text-align: left;
  background: none;
  border: none;
}
.perguntas dt::before {
  content: "";
  align-self: center;
  left: -12px;
  position: absolute;
  width: 12px;
  height: 8px;
  border-radius: 20px;
  display: inline-block;
  background: var(--cor-p2);
}

.perguntas dt::after {
  content: "";
  position: absolute;
  right: 0px;
  width: 14px;
  height: 10px;
  background: url("../../img/icons/seta.svg") no-repeat;
  filter: grayscale(100%);
  fill: var(--cor-p2);
  align-self: center;
  transform: rotate(180deg);
  transition: 300ms;
}

.perguntas dt:hover:after {
  transform: rotate(0deg);
}
.perguntas dd {
  margin: 0px;
  padding: 10px;
  padding-bottom: 30px;
}

@media (max-width: 600px) {
  #planos .planos-bg {
    padding-top: 20px;
  }
  .perguntas h1 {
    font-size: 36px;
  }
}
