.header-bg {
  background: var(--cor-p2);
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header ul {
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.header ul a {
  padding: 10px;
}

.header nav ul a:hover {
  color: var(--cor-p4);
}

@media (max-width: 520px) {
  .header {
    padding-bottom: 20px;
    flex-direction: column;
  }

  .header {
    padding: 10px;
    justify-content: center;
    gap: 30px;
  }

  .header-bg {
    padding-bottom: 20px;
  }

  .header ul {
    text-align: center;
  }

  .header ul li {
    background: var(--cor-p3);
    padding: 10px;
  }

  .header ul a {
    text-align: center;
    background: var(--cor-p3);
    padding: 10px;
    margin-bottom: 20px;
  }
}
