.beneficios-bg {
  background: var(--cor-p0);
  padding-bottom: 140px;
}

.beneficios {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.beneficios-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.beneficios-item img {
  box-shadow: -39px 41px 0px #2d105d;
}
.beneficios-conteudo {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.beneficios-conteudo p {
  margin-top: 10px;
  width: 40ch;
}

@media (max-width: 1200px) {
  .beneficios h1 {
    text-align: center;
  }

  .beneficios img {
    margin: 0 auto;
  }

  .beneficios {
    justify-content: center;
    padding-top: 20px;
    gap: 30px;
  }

  .beneficios-conteudo h2 {
    max-width: 15ch;
  }

  .beneficios-item {
    margin: 0 auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
}

@media (max-width: 720px) {
  .beneficios-item img {
    border-radius: 4px;
    width: 100%;
    max-height: 100%;
    box-shadow: 0 0 0px;
  }

  .beneficios-item {
    gap: 20px;
  }

  p.font-2-l {
    font-size: 16px;
    width: 30ch;
  }
}
