.planos-bg {
  padding-bottom: 120px;
}

.planos-bg h1 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.planos {
  max-width: 1700px;
}

.planos-itens > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.plano {
  background: var(--cor-3);
  border: 3px solid #81b5f0;
  box-shadow: 0 0 4px rgba(68, 142, 202, 0.6);
  border-radius: 15px;
  width: 420px;
  padding: 30px;
  box-sizing: border-box;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: fit-content;
  position: relative;
}
.plano-estrelas {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
.plano h2 {
  display: flex;
  align-items: center;
  margin-top: 0px;
}
.plano h2::before {
  margin-right: 7px;
  content: "";
  display: inline-block;
  width: 15px;
  height: 8px;
  background: var(--cor-p1);
  transition: 300ms;
}

.plano:hover h2::before {
  width: 20px;
}

.plano div span {
  margin-left: 24px;
}

.beneficios-plano li {
  display: flex;
  align-items: center;
}

.beneficios-plano li::before {
  margin-right: 10px;
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url("../../img/dec/lista.svg") no-repeat;
}
.plano a.botao {
  align-self: center;
  max-width: fit-content;
  padding: 8px 16px;
  display: flex;
  align-items: center;
}

.plano a.botao {
  align-self: center;
  max-width: fit-content;
  padding: 8px 16px;
  transition: 300ms;
}
.plano a:hover {
  filter: brightness(1.06);
}

@media (max-width: 900px) {
  .planos-itens > ul {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 20px;
  }
}
